.button-no-background-pink-border {
    background-color: transparent;
    color: $pink; 
    border: 1.5px solid $pink;
    outline: none;
    transition: 0.3s ease-in;
    cursor: pointer;
    &:hover {
        background-color: $pink;
        color: #2A2A2A;
    }
}