
// colors
$darkgray: #2A2A2A;
$pink: #FFBFBF;
$white: #DAD4D4;

// dimensions
$header-height: 20vh;
$list-container-width: 15vw;
$list-container-initial-height: 18vh;

// sources
$logo-src: '../assets/logo.svg';
