
// colors
$darkgray: #2A2A2A;
$pink: #FFBFBF;
$white: #DAD4D4;

// dimensions
$header-height: 20vh;
$list-container-width: 25vw;
$list-container-initial-height: 10vh;

// sources
$logo-src: '../assets/logo.svg';

:export {
    $list-container-initial-height: list-container-initial-height
}